@font-face {
  font-family: 'BinancePlex-Light';
  src: url('../fonts/BinancePlex/BinancePlex-Light.otf');
}
@font-face {
  font-family: 'BinancePlex-Regular';
  src: url('../fonts/BinancePlex/BinancePlex-Regular.otf');
}
@font-face {
  font-family: 'BinancePlex-SemiBold';
  src: url('../fonts/BinancePlex/BinancePlex-SemiBold.otf');
}
html {
  font-size: 14px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #fff;
  color: #212833;
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b, strong {
  font-weight: bolder;
}
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
input.clear-default::-webkit-outer-spin-button,
input.clear-default::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input.clear-default[type="number"]{
  -moz-appearance: textfield;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.font-bp-light {
  font-family: BinancePlex-Light;
}
.font-bp-regular {
  font-family: BinancePlex-Regular;
}
.font-bp-SemiBold {
  font-family: BinancePlex-SemiBold;
}
.font-number {
  font-family: 'DIN Next LT Pro';
}
